@model UsuarioModel

@{
    ViewData["Title"] = "Editar Contato";
}

<div class="text-center">
    <h1 class="display-4">Contatos</h1>
</div>
    <a class="btn btn-secondary" asp-controller="Contato" asp-action="Index">Voltar</a>
    <br />
    <br />

<form asp-action="Criar" method="post">
    <div class="mb-3">
        <label asp-for="Nome" class="form-label">Nome</label>
        <input asp-for="Nome" type="text" class="form-control" placeholder="Digite o nome" required>
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Idade" class="form-label">Idade</label>
        <input asp-for="Idade" type="number" class="form-control" placeholder="Digite a idade" required>
        <span asp-validation-for="Idade" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Cargo">Profissão</label>
        <input asp-for="Cargo" type="text" class="form-control" placeholder="Digite a profissão" required>
        <span asp-validation-for="Cargo" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Salvar alterações</button>
    <button type="submit" class="btn btn-danger">Cancelar</button>
</form>